<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- The customer number -->
    <add key="customerNo" value="" />
    <!-- The authentication Token -->
    <add key="authToken" value="" />
    <!-- The IP Address -->
    <add key="ipAddress" value="" />
  </appSettings>
</configuration>
